.profile{
    width: 100%;
    max-width: 1280px;
    height: 654px;
    margin: 0 auto;
}

.profile__welcome{
    height: 29px;
    text-align: center;
    padding-top: 74px;
    margin: 0;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}

.profile__form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 123px;
    height: 100px;
    position: relative;
}

.profile__label{
    position: absolute;
    left:0px;
    margin-bottom: 16px;
    top:-6px;
}

.profile__label:last-of-type{
    top:38px;
}

.profile__input{
    width: 396px;
    height: 20px;
    margin-bottom: 24px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #E8E8E8;
    padding: 0;
    background-color: transparent;
    margin-left: 0;
    text-align:right;
    outline: none;
}

.profile__change{
    text-align: center;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
    display: block;
    margin-top: 220px;
}

.profile__change:disabled{
    color: #A0A0A0;
    cursor:not-allowed;
}

.profile__logout{
    text-align: center;
    margin-top: 16px;
    font-weight: 400;
    color: #EE3465;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
}
.error__profile{
    top:40px;
}

.error__profile-name{
    top:1px;
}

@media screen and (max-width:400px){
    .profile__form{
        margin-left: 30px;
        margin-right: 30px;
    }

    .profile__input{
        max-width: 260px;
    }

}

